.header {
  margin: 0 auto;
}
.header__container {
  justify-content: space-between;
  width: $width;
  margin: 0 auto;
  padding: 2rem 0;
  gap: 1rem;

  .header__nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: $bg;
    z-index: 1;

    > ul {
      display: flex;
      flex-direction: column;
      align-items: space-between;
      text-align: end;
      gap: 2rem;
      margin-top: 2rem;
      padding-right: 2rem;

      a {
        font-size: large;
      }
    }
  }
}

.toggle-checkbox:checked ~ .header__nav {
  display: block;
}

.toggle-checkbox {
  display: none;
}

.hamburger {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="20" x2="100" y2="20" stroke="black" stroke-width="10"/><line x1="0" y1="50" x2="100" y2="50" stroke="black" stroke-width="10"/><line x1="0" y1="80" x2="100" y2="80" stroke="black" stroke-width="10"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .header__container .header__nav {
    display: flex;
    position: static;
    width: auto;

    > ul {
      display: flex;
      margin-top: 16px;
      flex-direction: row;
      gap: 0.5rem;
      align-items: end;
      justify-content: end;
      padding: 0;

      a {
        padding: 1rem 2rem;

        &:hover {
          border-radius: 12px;
          color: white;
          background-color: #333;
        }
      }
    }
  }
}
