@import "~bootstrap/scss/bootstrap";

body {
  margin: 0 auto;
  font-family: Inter, sans-serif;
  background-color: $bg;
  color: $main-text-color;
}

li {
  list-style-type: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: $main-text-color;
}
