<footer class="footer">
    <div class="footer__container">
        <div class="contact__container helper--center">
            <h2 class="footer__title">© Cocinitas 2024</h2>
            <p class="footer__description">
                ¡Demuestra tus habilidades culinarias y compite por fantásticos
                premios!
            </p>
            <a href="/src/apuntate.html" class="btn btn-secondary"
                >Inscribirse Ahora</a
            >
        </div>
        <hr class="horizontal-line" />
        <div class="footer-menu__container helper--center">
            <a href="#"
                ><img
                    src="/src/assets/images/logo-no-background.png"
                    alt="Logo"
                    width="200"
            /></a>
            <nav class="footer-menu__nav helper--center">
                <ul class="footer-menu__nav-list">
                    <li class="footer-menu__nav-item">
                        <a href="#">Participantes</a>
                    </li>
                    <li class="footer-menu__nav-item">
                        <a href="#">Noticias</a>
                    </li>
                    <li class="footer-menu__nav-item">
                        <a href="#">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="helper--center">
            <p>&copy; Universitat Oberta de Catalunya</p>
        </div>
    </div>
</footer>
