<header class="header">
    <div class="header__container flex-center">
        <a href="#"
            ><img
                src="/src/assets/images/logo-no-background.png"
                alt="Logo"
                width="250"
        /></a>
        <input type="checkbox" id="toggle" class="toggle-checkbox" />
        <label for="toggle" class="hamburger"></label>
        <nav class="header__nav flex-center">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="#">Participantes</a>
                </li>
                <li class="header__nav-item">
                    <a href="#">Noticias</a>
                </li>
                <li class="header__nav-item"><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
