<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="Concurso de Cocina 2024" />
<meta name="keywords" content="cocina, concurso, premios, talento" />
<meta name="author" content="Universitat Oberta de Catalunya" />
<link rel="stylesheet" type="text/css" href="/src/assets/styles/main.scss" />
<!-- do not remove this line! -->

<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    rel="stylesheet"
/>
<link rel="icon" type="image/png" href="/src/assets/images/favicon.png" />

<title>Cocinitas</title>
