@import "./variables";

@function calcular-sombra(
  $horizontal,
  $vertical,
  $difuminado,
  $extension,
  $color
) {
  $sombra: $horizontal + px $vertical + px $difuminado + px $extension + px
    $color;
  @return $sombra;
}

$color-primary: color(display-p3 0.14 0.36 0.65);

@layer general {
  body {
    background-color: color(lv 95%);
  }

  h1 {
    color: $main-text-color;
  }

  label {
    color: $main-text-color;
  }
}

@layer components {
  form {
    max-width: 400px;
    margin: 0 auto;
  }

  .contact__card button {
    background-color: $color-primary;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: 1rem;

    &:hover {
      background-color: lighten($secondary-text-color, 10%);
    }
  }

  .contact__card {
    background-color: white;
    border-radius: 0 0 8px 8px;
    container-type: inline-size;
    box-shadow: calcular-sombra(0, 5, 5, 0, rgba(0, 0, 0, 0.1));
    padding: 20px;
    margin-bottom: 20px;
    border: 0;
    width: min(90%, 500px);
    margin: 0 auto;
  }
}

@layer specific {
  .carousel__container {
    max-width: 500px;
    margin: auto;

    img {
      width: 100%;
      border-radius: 8px 8px 0 0;
    }
  }

  @container (max-width: 400px) {
    .contact__card span {
      display: none;
    }
  }
}
