.poster__image {
  width: 90%;
}

.poster__description {
  margin: 3rem 0;
  container-type: inline-size;
}

.poster__image {
  border-radius: 20px;
}

.poster__title {
  color: #fefefe;
  font-size: 3.5rem;
  text-shadow: 7px 0 #333, -2px 0 #333, 0 2px #333, 0 -2px #333, 1px 1px #333,
    -1px -1px #333, 1px -1px #333, -1px 1px #333;
}

.poster__button {
  width: max-content;
  height: fit-content;
}

.container {
  container-type: inline-size;
}

@container (min-width: 1000px) {
  .poster__image {
    width: 900px;
  }
  .poster__title {
    font-size: 5rem;
  }
}

@supports (display: grid) {
  @media (min-width: 42em) and (min-height: 27em) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
    }

    .poster__image {
      z-index: -1;
      border-radius: 20px;
      grid-area: 1 / 1 / 4 / 5;
      box-shadow: 17px 25px 26px 6px rgba(0, 0, 0, 0.3);
    }

    .poster__button {
      grid-area: 4 / 4 / 4 / 5;
    }

    .poster__title {
      grid-area: 1 / 4 / 2 / 6;
    }

    .poster__lottie {
      grid-area: 2 / 4 / 3 / 6;
      height: 100px;
      width: 100px;
    }

    .poster__description {
      margin: 0;
      background-color: #fefefe;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 17px 25px 26px 6px rgba(0, 0, 0, 0.1);
      grid-area: 3 / 1 / 4 / 3;
    }
  }
}
